using std
using eel

crate kinpex1
	procid 1
    types    10
    subtypes  1
    controls  9

	module wr_time     eel.WRTime
	module febexparams eel.FEBEX34_PARAMS
	for $i in [0:3]
		module febex$i      eel.FEBEX34(1,$i)
	end
end

for $i in [0:3]
	processor febex/module$i std.tuple(trace[16],filter[16])
		trace[0:15]  <- kinpex1.febex$i[0:15].trace
		filter[0:15] <- kinpex1.febex$i[0:15].filter
		waveform  trace 3000 persistent  in trace
		histogram trace 16384,0,16384   in resolution
	end
end

processor daq/rate std.tuple(time,events)
	time <- event.time
	events <- event.number
	ratemeter events:time
end


# need this to invoke our factory !
processor go4output Go4OutputEvent
	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRFPGAEnergy <- kinpex1.febex3.amplitude
	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRTrace[6] <-   kinpex1.febex3.trace[6]
end





