using std
using eel


crate stitching
	module sticher eel.WRTimeEventStitcher(1,100) # 1us window, new_procid=SSID*100+procid
end


for $SSID1 in 100 200
	crate kinpex_$SSID1
		procid {$SSID1+1} # SSID + procid from original event (which is 1)
		module wr_time eel.WRTime
		module febexparams eel.FEBEX34_PARAMS
		for $i in [0:3]
			module febex$i      eel.FEBEX34(1,$i)
		end
	end
end


####### without stitcher for single kinpex:
#crate kinpex1
#	procid 1
#    types    10
#    subtypes  1
#    controls  9
#
#	module wr_time     eel.WRTime
#	module febexparams eel.FEBEX34_PARAMS
#	for $i in [0:3]
#		module febex$i      eel.FEBEX34(1,$i)
#	end
#end
####################

for $SSID1 in 100 200
	for $i in [0:3]
		processor kinpex$SSID1/febex$i std.tuple(trace[16],filter[16],amplitude[16])
			trace[0:15]  <- kinpex_$SSID1.febex$i[0:15].trace
			filter[0:15] <- kinpex_$SSID1.febex$i[0:15].filter
			amplitude[0:15] <- kinpex_$SSID1.febex$i[0:15].amplitude
			waveform  trace 3000 persistent  in trace
			histogram trace 16384,0,16384   in resolution
			histogram amplitude 4000, 0 ,4000 in energy
		end
	end
end

processor daq/rate std.tuple(time,events)
	time <- event.time
	events <- event.number
	ratemeter events:time
end

### standard wr stitcher histograms:
for $SSID1 in 100 200
	for $SSID2 in 100 200
		processor anl/timestamp_difference_$SSID1_$SSID2 std.calc(dT=(T2_high-T1_high)*4294967296+(T2_low-T1_low))
			T1_low  <- kinpex_$SSID1.wr_time.low
			T1_high <- kinpex_$SSID1.wr_time.high
			T2_low  <- kinpex_$SSID2.wr_time.low
			T2_high <- kinpex_$SSID2.wr_time.high
			histogram dT 20000,-10000,10000  in timestamp_difference
		end
	end
end


# need this to invoke our factory !
# later loop over febex and channels here
processor go4output Go4OutputEvent

## first test with fixed channel number:
#	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRFPGAEnergy <- kinpex_100.febex3.amplitude
#	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRTrace[0]   <- kinpex_100.febex3.trace[6]
#	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRTraceBLR[0] <- kinpex_100.febex3.trace[6]
#	TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRBIBOXTrace[0] <- kinpex_100.febex3.trace[6]
#    TPLEIADESRawEvent_TPLEIADESFebBoard(3)_TPLEIADESFebChannel(6)_fRMWDTrace[0] <- kinpex_100.febex3.trace[6]
#####
# this channel is mapped to analysis/Histograms/TPLEIADESDetProc/slot7_MSPad_16C/Channel Traces/slot7_MSPad_16C_nSide Trace
########################################

#  TPLEIADESRawEvent_TPLEIADESFebBoard(01)_TPLEIADESFebChannel(02)_fRFPGAEnergy <- kinpex_100.febex1[01].amplitude


## map all existing components
	for $SSID1 in 100 200
		for $slave in [0:3]
			for $c in [0:15]
			    TPLEIADESRawEvent_TPLEIADESFebBoard({%02,($SSID1/100-1)*4+$slave})_TPLEIADESFebChannel({%02,$c})_fRFPGAEnergy <- kinpex_$SSID1.febex$slave[$c].amplitude
				TPLEIADESRawEvent_TPLEIADESFebBoard({%02,($SSID1/100-1)*4+$slave})_TPLEIADESFebChannel({%02,$c})_fRTrace[0]   <- kinpex_$SSID1.febex$slave[$c].trace
				TPLEIADESRawEvent_TPLEIADESFebBoard({%02,($SSID1/100-1)*4+$slave})_TPLEIADESFebChannel({%02,$c})_fRTraceBLR[0] <- kinpex_$SSID1.febex$slave[$c].trace
				TPLEIADESRawEvent_TPLEIADESFebBoard({%02,($SSID1/100-1)*4+$slave})_TPLEIADESFebChannel({%02,$c})_fRBIBOXTrace[0] <- kinpex_$SSID1.febex$slave[$c].trace
				TPLEIADESRawEvent_TPLEIADESFebBoard({%02,($SSID1/100-1)*4+$slave})_TPLEIADESFebChannel({%02,$c})_fRMWDTrace[0] <- kinpex_$SSID1.febex$slave[$c].trace
			end
		end
	end



end

## notes: for pleiades second step, we need to fill all traces for rsvh channel, otherwise it will crash...




